@inherits UmbracoViewPage

@using Umbraco.Cms.Core.Models

@{
    IPublishedContent homePage = Model.Root();
    IEnumerable<IPublishedContent> navigationPages = homePage.Children(x => x.IsVisible());
}

<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/">CodeShare Starter Kit</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            @if(navigationPages != null && navigationPages.Any())
            {
                <ul class="navbar-nav ms-auto">
                    @foreach(var item in navigationPages)
                    {
                        if(!item.Value<bool>("disableDropdown") && item.Children != null && item.Children.Where(x => x.IsVisible()).Any())
                        {
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="@item.Url()">@item.Name </a>
                                <div class="dropdown-menu">
                                    @foreach(var child in item.Children)
                                    {
                                        <a class="dropdown-item" href="@child.Url()">@child.Name</a>
                                    }
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@item.Url()">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
</nav>