@inherits UmbracoViewPage

@using Umbraco.Cms.Core.Models

@{ 
    var homePage = Model.AncestorOrSelf<Home>();
}

<footer class="footer-basic">
    @if (homePage.FooterSocialLinks != null && homePage.FooterSocialLinks.Count() > 0)
    {
        <div class="social">
            @foreach (Link link in homePage.FooterSocialLinks)
            {
                <a href="@link.Url" target="@link.Target"><i class="icon fa fa-@link.Name"></i></a>
            }
        </div>
    }
    @if (homePage.FooterLinks != null && homePage.FooterLinks.Any())
    {
        <ul class="list-inline">
            @foreach (Link link in homePage.FooterLinks)
            {
                <li class="list-inline-item"><a href="@link.Url" target="@link.Target">@link.Name</a></li>
            }
        </ul>
    }
    <p class="copyright">CodeShare Starter Kit by Paul Seal from <a href="https://codeshare.co.uk/" target="_blank">codeshare.co.uk</a> &copy; @DateTime.Now.Year | <a href="https://codeshare.co.uk/coffee">Buy me a coffee</a></p>
</footer>