@inherits UmbracoViewPage

@using Umbraco.Cms.Core.Models

@{
    string carouselId = "mainCarousel";
    var carousel = Model.Value<IEnumerable<IPublishedElement>>(carouselId);
}

@if (carousel != null && carousel.Any())
{
    var slideCount = carousel.Count();
    <div class="carousel slide" data-bs-ride="carousel" id="@carouselId">
        <div class="carousel-inner">
            @{
                int slideIndex = 0;
                foreach (var slide in carousel)
                {
                    string title = slide.Value<string>("slideTitle");
                    string subtitle = slide.HasValue("slideSubtitle") ? slide.Value<string>("slideSubtitle") : "";
                    string imageUrl = slide.Value<IPublishedContent>("slideImage")?.GetCropUrl(1920, 1080) ?? "/img/carousel.jpg";
                    IEnumerable<Link> links = slide.Value<IEnumerable<Link>>("slideLink");
                    Link link = links != null ? links.FirstOrDefault() : null;

                    <div class="carousel-item @(slideIndex == 0 ? "active" : "")">
                        <div class="jumbotron carousel-hero" style="background-image:url('@(imageUrl)');">
                            <h1 class="hero-title">@title</h1>
                            <p class="hero-subtitle">@subtitle</p>
                            <p><a class="btn btn-primary btn-lg hero-button" role="button" target="@link.Target" href="@link.Url">@link.Name</a></p>
                        </div>
                    </div>
                    slideIndex++;
                }
            }
        </div>
        <div>
            <a class="carousel-control-prev" href="#@carouselId" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a>
            <a class="carousel-control-next" href="#@carouselId" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
        </div>
        <ol class="carousel-indicators">
            @if (slideCount > 0)
            {
                for (var i = 0; i < slideCount; i++)
                {
                    <li data-bs-target="#@carouselId" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                }
            }
        </ol>
    </div>

    @*<div class="carousel slide" data-bs-ride="carousel" id="@carouselId">
        <div class="carousel-inner">
            @{
                int slideCount = 0;
                foreach (var slide in carousel)
                {
                    string title = slide.Value<string>("slideTitle");
                    string subtitle = slide.HasValue("slideSubtitle") ? slide.Value<string>("slideSubtitle") : "";
                    string imageUrl = slide.Value<IPublishedContent>("slideImage")?.GetCropUrl(1920, 1080) ?? "/img/carousel.jpg";
                    IEnumerable<Link> links = slide.Value<IEnumerable<Link>>("slideLink");
                    Link link = links != null ? links.FirstOrDefault() : null;

                    <div class="carousel-item @(slideCount == 0 ? "active" : "")">
                        <div class="jumbotron carousel-hero" style="background-image:url('@(imageUrl)');">
                            <h1 class="hero-title">@title</h1>
                            <p class="hero-subtitle">@subtitle</p>
                            <p><a class="btn btn-primary btn-lg hero-button" role="button" target="@link.Target" href="@link.Url">@link.Name</a></p>
                        </div>
                    </div>
                    slideCount++;
                }
            }
        </div>
        <div>
            <a class="carousel-control-prev" href="#@carouselId" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a>
            <a class="carousel-control-next" href="#@carouselId" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
        </div>
        <ol class="carousel-indicators">
            @for (int i = 0; i < slideCount; i++)
            {
                <li data-target="#@carouselId" data-bs-slide-to="@i" class="@(i == 0 ? "active" : null)"></li>
            }
        </ol>
    </div>*@
}
